.container {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: #ff0000 1px solid;
}

.square {
    height: 150px;
    width: 150px;
    border: #000000 1px solid;
    background-color: #00ffff;
}

.enemy {
    background-color: #ff0000;
}